.github/**
.gradle/**
.idea/**
.vscode/**
.vscode-test/**
build/**
out/**
node_modules/**
src/**
.gitattributes
.gitignore
**/build.gradle.kts
gradle.properties
gradlew
gradlew.bat
settings.gradle.kts
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
